*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
